.primary {
    background-color: var(--color-primary);
    border: rgba(67, 103, 40, 0.5) solid 1px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    color: var(--text-green);
    font-size: 0.875rem;
    font-weight: 600;
}

.primary:hover {
    background-color: #8fe051;
    color: #1b2c0e;
}

.secondary, .default {
    background-color: rgba(227, 217, 217, 0.3);
    border: rgba(255, 255, 255, 0.4) solid 1px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 0.875rem;
    font-weight: 600;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.secondary:hover, .default:hover {
    background-color: rgba(227, 217, 217, 1);
    color: white;
}
