.contacts-item {
    display: flex;
    gap: 15px;
}

.contacts-item__img {
    width: 45px;
    height: 45px;
    background-color: var(--light);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-item__text {
    color: var(--light);
}

.text-content__subtitle {
    font-size: 1rem; /* 16px */
    font-weight: 500;
    margin: 0;
}

.text-content__description {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    margin: 0;
}

@media (max-width: 950px) {
    .contacts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
}