.burger-wrapper {
    position: relative;
    z-index: 1001;
    justify-self: flex-end;
}

.burger {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

/* Мобильное меню на весь экран */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60vh;
    background-color: rgba(0,0,0,0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1000;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--light);
    transition: color 0.3s ease;
}

.mobile-menu .nav-item {
    font-size: 24px;
    color: var(--light);
    text-decoration: none;
    transition: color 0.3s ease;
}

.mobile-menu .nav-item:hover {
    color: var(--color-primary);
}