.mobile-header {
  display: none;
}


@media (max-width: 1024px) {
  .mobile-header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    min-height: 5vh;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  
  .logo-mobile-group {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    padding: 6px 15px;
    text-decoration: none;
  }

  .logo-mobile-image {
    width: 20px;
    height: 20px;
    align-self: center;
  }

  .logo-mobile-text {
    color: var(--dark);
    font-weight: 600;
    font-size: 1rem;
    align-self: center;
  }
}