.highlight-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

@media (max-width: 550px) {
    .highlight-group {
        align-items: start;
    }
}