.footer {
    background-color: var(--dark);
}

.footer__container {
    border-top: 1px solid var(--light);
    padding: 10vh 0;
    color: #BFBFBF;
}

.footer__logo-group {
    grid-column: 1/2;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color: #BFBFBF;
}

.footer__content {
    grid-column: 2/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footer__slogan {
    max-width: 600px;
    text-align: center;
}

.footer-links {
    grid-column: 6/7;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.footer-link__terms, .footer-link__policy {
    text-decoration: none;
    color: #BFBFBF;
}

@media (max-width: 1024px)  {
    .footer__content {
        grid-column: 2/3;
        grid-row: 1/3;
        align-items: flex-start;
        text-align: start;
        gap: 20px;
    }
    .footer__slogan {
        text-align: start;
    }
    .footer-links {
        grid-column: 1/2;
        align-items: flex-start;
    }
}

@media (max-width: 550px) {
   .footer__logo-group {
        grid-column: 1/3;
        grid-row: 1/2;
        justify-self: center;
   }
   .footer__content {
        grid-column: 1/3;
        grid-row: 2/3;
        justify-self: center;
        text-align: center;
   }
   .footer__slogan {
    text-align: center;
   }
   .footer__copyrights {
    color: var(--color-primary);
   }
   .footer-links {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
    align-items: center;
    
   }
   .footer-link__terms, .footer-link__policy {
        text-align: center;
    }
}