.hero-section {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url('../../assets/img/hero_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  pointer-events: none;
  z-index: 1;
}

.hero-section__content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.hero-banner {
    grid-column: 1/3;
}

.hero-banner__title {
    margin-bottom: 25px;
    color: white;
}

.hero-banner__subtitle {
    margin-bottom: 25px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #CCCBC8;
}

.hero-banner__cta-group {
    display: flex;
    gap: 20px;
}

.hero-banner__cta {
    width: 170px;
}

@media (max-width: 1024px) {
    .hero-section {
        height: 60vh;
    }
    .hero-banner {
        grid-column: 1/3;
        align-self: anchor-center;
        width: 390px;
    }

    .hero-banner__title {
        font-size: 2.8rem;
    }
}

@media (max-width: 580px) {
    .hero-banner {
        width: 100%;
    }
      .hero-banner__title {
        font-size: 2rem;
    }
    .hero-banner__subtitle {
        font-size: 1.1rem;
    }
}