.card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 35px;
}

.card-title {
    font-size: 2.25rem; /* 36px */
    font-weight: 600;
    margin: 0;
}

.card-description {
    font-size: 1.125rem; /* 18px */
    font-weight: 400;
    margin: 0;
    opacity: 0.6;
}

.primary-card {
    background-color: var(--color-primary);
}

.secondary-card, .default-card {
    background-color: var(--light);
}