h1 {
  font-size: 3.25rem; /* 52px */
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  color: white;
}

h2 {
  font-size: 1.875rem; /* 30px */
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
  margin: 0;
  color: var(--light);
  text-align: center;
}

.subtitle {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  margin: 0;
  text-align: center;
}

p {
  font-size: 1.125rem; /* 18px */
  font-weight: 400;
  margin: 0;
}

.subtext {
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  margin: 0;
}

.testBlock {
  width: 450px;
  height: 145px;
  margin: 0 auto;
}

.base-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin: 0 5%;
    height: 100%;
}

.secondary-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-right: 4%;
    height: 100%;
}

.mobile-grid {
  display: none;
}


@media (max-width: 1024px) {
  .base-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 4%;
  }

  .secondary-grid {
    display: none;
  }
  .mobile-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 4%;
  }
}

