h1 {
  font-size: 2.25rem; /* 36px */
  font-weight: 600;
  margin: 0;
  color: white;
}

h2 {
  font-size: 1.875rem; /* 30px */
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
  margin: 0;
  color: var(--light);
}

.subtitle {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  margin: 0;
}

p {
  font-size: 1.125rem; /* 18px */
  font-weight: 400;
  margin: 0;
}

.subtext {
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  margin: 0;
}