.promo-services {
    background-color: var(--dark);
    height: 20vh;
    padding-right: 5%;
}

.services__categories {
    height: 100%;
    grid-column: 1/3;
}

.services__category {
    background-color: transparent;
    height: 50%;
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 50px;
    cursor: pointer;
}

.services__category:hover {
    background-color: #424242;
}

.services__category--active {
    background-color: #424242;
}

.services__category-title {
    text-align: start;
}
.services__content {
    grid-column: 3/7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services__items {
    display: flex;
    justify-content: end;
    gap: 8vw;
}

@media (max-width: 1024px) {
    .promo-services {
        padding: 100px 0 100px 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .repairs-block {
        grid-column: 1/2;
        border-radius: 20px;
        border: rgba(255, 255, 255, 0.4) solid 1px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        color: var(--dark);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        min-height: 200px;
    }

    .services-block {
        grid-column: 2/3;
        border-radius: 20px;
        border: rgba(255, 255, 255, 0.4) solid 1px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        color: var(--dark);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        min-height: 200px;
    }

    .services__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media (max-width: 850px) {
    .repairs-block {
        grid-column: 1/3;
    }
    .services-block {
        grid-column: 1/3;
    }
}